@import '../../../../custom-theme.scss';
.showTime{
    padding: 1em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.chips-container{
    height: 12em;
    overflow: hidden;
    overflow-y: scroll;
}

.chips-container::-webkit-scrollbar{
    display: none;
}