<div class="col">
    <navbar></navbar>
    <section class="col-12 main" style="padding: 5em 0 0 0;">
        <!--Reservations Section-->
        <h2 class="d-flex align-items-center gap-5 text-white px-3"><mat-icon class="text-white">confirmation_number</mat-icon>Cinema App</h2>
        <hr>
        <div class="d-flex gap-2" style="height: 90%; overflow: hidden;">
            <div class="left-menu d-flex flex-column justify-content-center gap-5 col-4">
                <div class="d-flex align-items-center">
                    <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                    <button class="btn px-3 btn-outline-warning d-flex justify-content-center align-items-center gap-2" (click)="changeView('category')" [ngClass]="{'bg-warning': showModule == 'category', 'text-dark': showModule == 'category',  'bg-outline-warning': showModule != 'category'}">
                        New Category <mat-icon>category</mat-icon>
                    </button>
                </div>
    
                <div class="d-flex align-items-center">
                    <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                    <button class="btn btn-outline-warning px-3 d-flex justify-content-center align-items-center gap-2" (click)="changeView('movie')" [ngClass]="{'bg-warning': showModule == 'movie', 'text-dark': showModule == 'movie', 'bg-outline-warning': showModule != 'movie'}">
                        New Movie <mat-icon>theaters</mat-icon>
                    </button>
                </div>
                
                <div class="d-flex align-items-center">
                    <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                    <button class="btn btn-outline-warning px-3 d-flex justify-content-center align-items-center gap-2" (click)="changeView('showRoom')" [ngClass]="{'bg-warning': showModule == 'showRoom', 'text-dark': showModule == 'showRoom', 'bg-outline-warning': showModule != 'showRoom'}">
                        New ShowRoom <mat-icon>airline_seat_recline_extra</mat-icon>
                    </button>
                </div>
                
                <div class="d-flex align-items-center">
                    <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                    <button class="btn btn-outline-warning px-3 d-flex justify-content-center align-items-center gap-2" (click)="changeView('showTime')" [ngClass]="{'bg-warning': showModule == 'showTime', 'text-dark': showModule == 'showTime', 'bg-outline-warning': showModule != 'showTime'}">
                        New ShowTime <mat-icon>schedule</mat-icon>
                    </button>
                </div>
    
    
            </div>
            <div class="right-content">
                <app-form-category [categories]="categories" *ngIf="showModule == 'category'"></app-form-category>
                <app-form-movie [categories]="categories" *ngIf="showModule == 'movie'"></app-form-movie>
                <app-form-show-room *ngIf="showModule == 'showRoom'"></app-form-show-room>
                <app-form-show-time [categories]="categories" *ngIf="showModule == 'showTime'"></app-form-show-time>
            </div>
        </div>
    </section>
</div>