<div class="col">
    <navbar></navbar>
    <section class="col-12 main" style="padding: 5em 0 0 0;">
        <!--Reservations Section-->
        <h2 class="d-flex align-items-center gap-5 text-white px-3"><mat-icon class="text-white">confirmation_number</mat-icon>Cinema App</h2>
        <hr>
        <div class="left-menu d-flex flex-column justify-content-center gap-5 col-4">
            <div class="d-flex align-items-center">
                <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                <button class="btn btn-outline-warning px-3 d-flex justify-content-center align-items-center gap-2">
                    New Category <mat-icon>category</mat-icon>
                </button>
            </div>

            <div class="d-flex align-items-center">
                <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                <button class="btn btn-outline-warning px-3 d-flex justify-content-center align-items-center gap-2">
                    New Movie <mat-icon>theaters</mat-icon>
                </button>
            </div>

            <div class="d-flex align-items-center">
                <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                <button class="btn btn-outline-warning px-3 d-flex justify-content-center align-items-center gap-2">
                    New ShowTime <mat-icon>schedule</mat-icon>
                </button>
            </div>

            <div class="d-flex align-items-center">
                <span class="text-white" style="width: 30%; height: 1px; background-color: white;"></span>
                <button class="btn btn-outline-warning px-3 d-flex justify-content-center align-items-center gap-2">
                    New ShowRoom <mat-icon>airline_seat_recline_extra</mat-icon>
                </button>
            </div>

        </div>
        
    </section>
</div>