<nav class="navbar bg-body-tertiary fixed-top" id="navBar">
    <div class="container-fluid">
      <a class="navbar-brand f-bold text-white" href="#">Cinema App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Cinema App</h5>
          <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Peliculas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Perfil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mas opciones
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="'/reservations'">Mis Reservaciones</a></li>
                <li><a class="dropdown-item " href="#">Nuestras promociones</a></li>
                
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Contactanos</a></li>
              </ul>
            </li>
            <hr class="divider">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administracion
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="'/reservations'">Reservaciones</a></li>
                <li><a class="dropdown-item " [routerLink]="'/cinema'">Gestion ShowTimes</a></li>
              </ul>
            </li>
            <li class="nav-item my-3" style="position: absolute; bottom: 0;">
              <button class="btn btn-outline-warning text-white px-3 d-flex justify-content-center align-items-center"><mat-icon>power_settings_new</mat-icon> Log Out</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>