/* You can add global styles to this file, and also import other style files */
@import 'custom-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main{
    background-color: black !important;
    width: 100vw;
    height: 100vh;
    padding: 5% 2em 2em 2em;
    overflow: hidden;
    overflow-y: scroll ;
    scroll-behavior: smooth;
}



.main::-webkit-scrollbar{
    display: none;
}
  
.mat-mdc-dialog-container .mdc-dialog__surface{
    overflow: hidden !important;
}

.warning{
    position: absolute;
    right: 2%;
    top: 7%;
    color: black;
    background-color: $accent-color-500;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}               